@{
    ViewBag.Title = "Nástěnka";
}

<h2>Nástěnka</h2>

<div class="box left box-width-100"> 
	<h3 class="box-name"><span><span>Nástěnka</span></span></h3> 
	<div class="box-content"> 
     
    <ul id="dashboard">
        <li id="products"><a href="/Admin/Product">Produkty</a></li>
        <li id="static"><a href="/Admin/Page">Statické stránky</a></li>
        <li id="categories"><a href="/Admin/Category">Kategorie</a></li>
        <li id="news"><a href="/Admin/News">Novinky</a></li>
        <li id="users"><a href="/Users/UserAdministration">Uživatelé</a></li>
    </ul>
		
		<span class="left-corner"></span> 
		<span class="right-corner"></span> 
	</div> 
</div> 