@using HTH8.Utils.HtmlExtensions

<ul id='languages' class='clearfix'>    <li class='cz'>@Html.ActionLink("CZ", "Index", "Home", new {Culture = "cs"}, null)</li>    <li class='en'>@Html.ActionLink("EN", "Index", "Home", new { Culture = "en" }, null)</li>    <li class='de'>@Html.ActionLink("DE", "Index", "Home", new { Culture = "de" }, null)</li>    <li class='ru'>@Html.ActionLink("RU", "Index", "Home", new { Culture = "ru" }, null)</li></ul>